body {
    background-color: rgb(252, 243, 220);
}

.complaint-form-section {
    /* % width is used so that form resizes as per browser width */
    width: 60%;
    
    /* auto ensures the extra 40% space is distributed equally as left and right margins */
    margin: 3em auto;
}

.form-group {
    padding: 2em;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
}

.form-group label,
.form-group input {
    display: block;
}

.form-group label .required {
    color: red;
}

.form-group input {
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 1em;
}