.news-gallery {
    /* do not allow .news-item children to wrap over to the next line */
    white-space: nowrap;
    
    /* add a scrollbar if .news-item children go outside the .news-gallery */
    overflow: auto;
}
/* The .news-item does not resize when we resize the screen (fixed width) */
.news-item {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 160px;
    overflow: hidden;
    border: 1px solid green;
    border-radius: 4px;
}

/* let the .news-item-image be as wide as the .news-item parent */
.news-item-image {
    width: 100%;
    border-radius: 4px;
}

.news-title {
    display: none;
    position: absolute;
    bottom: 0px;
    padding: 0.5em;
    text-align: center;
    color: initial; /* initial value for a property sets it to its default value */
    background-color: rgba( 128, 128, 128, 0.6 );
}

/* Show the .news-title when the .news-item is hovered upon */
.news-item:hover .news-title {
    display: block;
    width: 100%;
}