body {
    background-color: rgb(252, 243, 220);
}

.complaint-form-section {
    /* % width is used so that form resizes as per browser width */
    width: 60%;
    
    /* auto ensures the extra 40% space is distributed equally as left and right margins */
    margin: 3em auto;
}

.complaint-form-section header {
    padding: 1.5em;
    margin-bottom: 1em;
    background-color: rgb( 192, 149, 233 );
}

.complaint-form-section .instruction-title {
    color: navy;
    font-weight: bold;
}

.form-group {
    padding: 2em;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 1em;
    background-color: white;
}

.form-group label,
.form-group input {
    display: block;
}

.form-group-checkbox input {
    display: inline;
}

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.25em;
    vertical-align: bottom;
}

.form-group label .required {
    color: red;
}

.form-group input {
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 1em;
}