.sidebar {
    float: left;
    
    /* width of sidebar will respond to change in screen size - hence we are using a % unit */
    width: 25%;
}

.sidebar-news-list {
    /* no bullets for the list */
    list-style-type: none;
    
    /* no extra spacing around the list */
    padding: 0;
    margin: 0;
}

.sidebar-news-list a {
    display: inline-block;
    padding: 0.3em;
    text-decoration: none;
}

.sidebar-news-list li:nth-child(odd) {
    background-color: rgb(216, 192, 216);
}